.header {
    background: url(../img/icons/header/bg_header.jpg) top no-repeat;
    // .header__top

    &__top {}

    // .header__bottom

    &__bottom {}
}

.top-header {

    // .top-header__content

    &__content {
        display: flex;
    }

    // .top-header__column

    &__column {
        flex: 0 1 50%;

        &:nth-child(2) {
            flex: 0 0 190px;
            text-align: center;
            margin-top: 30px;
            letter-spacing: 2px;
        }
    }

    // .top-header__menu

    &__menu {}

    // .top-header__logo

    &__logo {
        font-family: play_Bold;
        font-size: 32px;
        text-transform: uppercase;
        color: #ffffff;
    }

    // .top-header__contacts

    &__contacts {}
}

.menu {

    // .menu__icon

    &__icon {}

    // .menu__body

    &__body {}

    // .menu__list

    &__list {
        display: flex;
        flex-wrap: wrap;

        li {
            flex: 0 1 33%
        }
    }

    // .menu__link

    &__link {
        font-family: play_Bold;
        line-height: 18px;
        text-decoration: underline;
        color: #ffffff;
        height: 27px;
        display: inline-flex;
        align-items: center;
        padding: 0 22px;
        @media (min-width: $md2 + px) {
            &:hover {
                background-color: #068292;
                border-radius: 20px;
            }
        }
    }
}

.icon-menu {}

.contacts-header {
    display: flex;
    color: #fff;
    justify-content: center;

    // .contacts-header__column

    &__column {
        border-right: 1px solid #fff;
        &:last-child {
            border: 0;
        }
    }

    // .contacts-header__item

    &__item {}

    // .contacts-header__item--icon

    &__item--icon {}

    // .contacts-header__label

    &__label {}

    // .contacts-header__phone

    &__phone {}
}

.bottom-header {

    // .bottom-header__container

    &__container {}

    // .bottom-header__column

    &__column {}

    // .bottom-header__actions

    &__actions {}

    // .bottom-header__info

    &__info {}
}

.actions-header {}

.info-header {

    // .info-header__column

    &__column {}

    // .info-header__callback

    &__callback {}

    // .info-header__shedulle

    &__shedulle {}

    // .info-header__cart

    &__cart {}
}